[run]
source = .
branch = True
omit =
    .venv/*
    tests/*
    */test_*.py
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
show_missing = True
precision = 1

[html]
directory = htmlcov
