name: ci
on:
  push:
  pull_request:

jobs:
  qlty:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: qltysh/qlty-check-action@v1
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
      - name: Install
        run: |
          python -m pip install -U pip
          python -m pip install -e .
          python -m pip install coverage
      - name: Run tests with coverage
        run: |
          coverage run -m unittest discover
          mkdir -p reports
          coverage lcov -o reports/lcov.info
      - name: Upload coverage to qlty
        uses: qltysh/qlty-coverage-action@v1
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: reports/lcov.info
